<% data.forEach(item=>{ %>


    <div class="postDisplay">
        <div>

        <div class="rss_title" >
              <%=  item.title%>
            </div>
        <li class="pub_date">
            Publication Date:  <%=  item.pubDate%>
        </li>
        
        <li class="creator">
           Created by:  <%= item.creator%>
        </li>
 
        <li class="category">
            category: <%= item.categories %>
        </li>
        <li><a href=""><%= item.link %></a>
        </li>
    </div>
        <div class="content">
            <%- item.content %> 


        </div>


    </div>
    <%})%>